<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
  <!-- 引入css样式文件 -->
  <link rel="stylesheet" type="text/css" href="/css/common.css"/>
  <!-- Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
  <!-- font-asesome图标库 -->
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/css/shutter.css">
  <link rel="stylesheet" type="text/css" href="/css/bofang.css"/>

  <script src="/js/qiniu.min.js"></script>
  <!-- jquery -->
  <script src="/js/jquery.js"></script>
  <!-- Bootstrap 核心 JavaScript 文件 -->
  <script src="/js/bootstrap.js"></script>
  <!-- 引入js脚本文件 -->
  <script src="/js/request.js"></script>

  <script src="/js/velocity.js"></script>
  <script src="/js/shutter.js"></script>

  <script src="/js/bofang1.js"></script>
</head>
<body>

<div id="middle">
  <span class="text-show1">~故事创作的剪贴画集~</span>
  <!--    <img class="feiji" src="/photos/feiji.png" width="300" hight="100" alt="飞机">-->
  <div  id="image-container" class="image">
    <img class="img"  src="/photos/loading.gif"  height="300" alt="照片">
  </div>

  <!--        <script type="text/javascript">document.write('<img src="/photos/photo.jpg?timestamp=' + Math.random()+ '"/>');</script>-->
</div>
<!--<div class="shutter">-->
<!--  <div class="image" id="image-container">-->
<!--&lt;!&ndash;    <a href="#" data-shutter-title="Iron Man"><img src="/images/shutter_1.jpg" alt="#"></a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a href="#" data-shutter-title="Super Man"><img src="/images/shutter_2.jpg" alt="#"></a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a href="#" data-shutter-title="The Hulk"><img src="/images/shutter_3.jpg" alt="#"></a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a href="#" data-shutter-title="The your"><img src="/images/shutter_4.jpg" alt="#"></a>&ndash;&gt;-->
<!--  </div>-->
<!--&lt;!&ndash;  <ul class="shutter-btn">&ndash;&gt;-->
<!--&lt;!&ndash;    <li class="prev"></li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li class="next"></li>&ndash;&gt;-->
<!--&lt;!&ndash;  </ul>&ndash;&gt;-->
<!--</div>-->
<div id="wav-container">
<!--  <audio id=”audio“ page="page0" src="/video/tree.wav" autoplay="autoplay"></audio>-->
</div>
<div id="end">
  <button  onclick="endChoose()" type="button" class="button" id="camera-button3">返回上一页</button>
</div>

</body>

</html>